In [2]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 27.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://dwh_admin:dwh_secure_password@postgres-dwh:5432/b2b_mobile_money_dwh')

In [4]:
# Test de connexion
df = pd.read_sql("SELECT * FROM dwh.dim_date LIMIT 10", engine)
df.head()

,date_key,full_date,day_of_week,day_name,day_of_month,day_of_year,week_of_year,month_number,month_name,quarter,year,is_weekend,is_holiday,fiscal_year,fiscal_quarter,created_at
0,1,2022-01-01,6,Saturday,1,1,52,1,January,1,2022,True,None,2022,1,2026-02-02 16:27:13.555534
1,2,2022-01-02,0,Sunday,2,2,52,1,January,1,2022,True,None,2022,1,2026-02-02 16:27:13.555534
2,3,2022-01-03,1,Monday,3,3,1,1,January,1,2022,False,None,2022,1,2026-02-02 16:27:13.555534
3,4,2022-01-04,2,Tuesday,4,4,1,1,January,1,2022,False,None,2022,1,2026-02-02 16:27:13.555534
4,5,2022-01-05,3,Wednesday,5,5,1,1,January,1,2022,False,None,2022,1,2026-02-02 16:27:13.555534

In [5]:
# Test de connexion
df = pd.read_sql("SELECT * FROM dwh.dim_client LIMIT 10", engine)
df.head()

Empty DataFrame
Columns: [client_key, client_id, company_name, industry_sector, company_size, registration_date, country, city, region, account_manager, customer_segment, credit_score, risk_level, is_active, kyc_status, valid_from, valid_to, is_current, created_at, updated_at]
Index: []

In [6]:
# Test de connexion
df = pd.read_sql("SELECT * FROM dwh.fact_transactions LIMIT 10", engine)
df.head()

Empty DataFrame
Columns: [transaction_key, transaction_id, date_key, time_key, client_key, service_key, channel_key, status_key, geography_key, transaction_amount, commission_amount, net_amount, currency_code, recipient_count, processing_time_seconds, fraud_score, is_fraud, fraud_type, created_at, processed_at]
Index: []